/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.block1 {
  margin-bottom: 100px;
}

.sign_in_button {
  margin-left: 10px;
  width: 90px;
  height: 40px;
  padding: 0 20px;
  border-radius: 20em;
  line-height: 40px;
  color: white;
  background-color: #DD6C15;
  color: white;
  font-size: 14px;
  color: white;
}

#main_page_title{
  padding-top: 1em;
  margin: 0px;
  // position: absolute;
  // top: 10px;
  color: black;
  text-align: center;
  padding-bottom: 300px;
}
.product-right{
  list-style: none;
}
