<div class="bg-lighter-grey">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-8">
        <h1>Your Dashboard</h1>
      </div>

      <div class="col-xs-12 col-sm-8">
        <h2>>> Your personnal informations
          <%= link_to edit_user_registration_path do %>
            <i class="fa fa-pencil"></i>
            <% end %>
          <%= link_to edit_user_registration_path, method: :delete, data: {confirm: "Are you sure?"} do %>
            <i class="fa fa-trash-o"></i>
            <% end %></h2>
      </div>

      <div class="col-xs-12 col-sm-8">
        <h2>>> Your offer of Petsitting</h2>
          <% @user.offers.each do |offer|%>
          <p><%= offer.title %></p>
        <%end %>
      </div>

      <div class="col-xs-12 col-sm-8">
        <h2>>> The Petsitting you boooked</h2>
          <% @user.orders.each do |order|%>
           <p><%= order.offer.title %></p>
          <%end %>
      </div>

    </div>
  </div>
</div>
