<h1>Dashboard of <%= @user.first_name %></h1>

<h3>My offers</h3>
<% @user.offers.each do |offer|%>
 <p><%= offer.title %></p>
<%end %>

<h3>My orders</h3>
<% @user.orders.each do |order|%>
 <p><%= order.offer.title %></p>
<%end %>


