<div class="block2 text-center">
  <p>If you want to contact us, we'll be happy to read your <%= link_to about_path do %>message<%end%>. Whant to know better about us? Let's read our <%= link_to story_path do %>story<%end%></p>
</div>

<div class="block3 text-center padded-down">
  <ul class="list-inline">
    <li>
      <a href="" target="_blank"> <i class="fa fa-twitter"></i> Follow us on Twitter</a>
    </li>
    <li>
      <a href="" target="_blank"><i class="fa fa-facebook"></i> See our Facebook's page</a>
    </li>
  </ul>
</div>
