<div class="bg-lighter-grey">
  <div class="container">
    <div class="row">
      <% @orders.each do |order| %>
        <div class="col-xs-12 col-sm-6">
          <div class="card_order">
            <div class="card_link">
              <h3>Booking #<%= order.id%> - <%= link_to order.offer.title, offer_order_path(order.id, order.offer.id) %> </h3>
              <h4> Petsitter:<%= order.user.first_name%></h4>
            <% end %>
          </div>
        </div>


  </div>
</div>
