+<div class="bg-lighter-grey">
 +  <div class="container">
 +    <div class="row">
 +        <div class="col-xs-12 col-sm-6 col-md-4">
 +          <div class="card_order">
 +            <div class="card_link">
                <h2><%= @order.id %></h2>
 +            </div>
 +          </div>
          </div>
 +    </div>
 +  </div>
 +</div>
