 <div class="padded">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <form action="/offers" method="get">
          <select class="form-control" name="category">
            <option value="" disabled selected>> What is your pets?</option>
            <option>Dog</option>
            <option>Cat</option>
            <option>Fish</option>
          </select>
          <input type="submit" class="btn btn-danger btn-lg marged-xs" style= "width: 100%" value="FILTER">
        </form>
      </div>
    </div>
  </div>
</div>


