

<html>
<head>
  <meta charset="utf-8">
  <title>Airbnb home</title>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:300,400,500,700">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- Leave those next 4 lines if you care about users using IE8 -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>


<body>

    <div class= "text-center">
      <h1> Welcome on Petsees!</h1>
      <div class="banner">
        <div class="banner-content">
          <a class="btn btn-primary btn-lg">Find a sitter for your pets</a>
        </div>
      </div>


      <div class="text-center padded features">
        <div class="container">
          <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-3">
              <img src="plane.png" alt="">
              <h2>Simplify</h2>
              <p>Find a sitter for your beloving pets any time and anywhere</p>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
              <img src="Key.png" alt="">
              <h2>Be free minded</h2>
              <p>No need to consign your home's keys</p>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
              <img src="Good.png" alt="">
              <h2>Be confident</h2>
              <p>Discover pet's approuved by our community</p>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
              <img src="Heart.png" alt="">
              <h2>Share and love</h2>
              <p>Join a community you will love</p>
            </div>
          </div>
        </div>
      </div>

      <div class="wrapper-grey padded">
        <div class = "container">
          <h2 class="text-center">Your pet's sitter</h2>
          <div class ="row">

            <div class="col-xs-12 col-sm-4">
              <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('animaux.jpg');">
                <div class="card-category">Normandy</div>
                <div class="card-description">
                  <h2>Clementine</h2>
                  <p>Lovely big farm in normandy</p>
                </div>
                <img class="card-user avatar" src="animaux.jpg">
                <a class="card-link" href="#" ></a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('animaux.jpg');">
                <div class="card-category">Paris</div>
                <div class="card-description">
                  <h2>Malik</h2>
                  <p>Hudge flat in Paris</p>
                </div>
                <img class="card-user avatar" src="animaux.jpg">
                <a class="card-link" href="#" ></a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('animaux.jpg');">
                <div class="card-category">London</div>
                <div class="card-description">
                  <h2>Laure</h2>
                  <p>House central London</p>
                </div>
                <img class="card-user avatar" src="images/seb.jpg">
                <a class="card-link" href="#" ></a>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class = "container">
        <div class ="row">
          <div class="col-xs-12">
            <div id="newsletter" class="text-center paddedtop">
              <h2>Get news from us</h2>
              <p>Leave us your mail and get news from us</p>
              <form class="form-inline">
                <div class="form-group">
                  <label for="exampleInputEmail2">Email</label>
                  <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
                  <button type="submit" class="btn btn-primary">sign in</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
