/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}
.padded-big{
  padding-top: 10em;
  padding-bottom: 10em;
}

.padded-small {
  padding-top: 2em;
  padding-bottom: 2em;
}

.padded-xsmall {
  padding-top: 1em;
  padding-bottom: 1em;
}
.padded-down{
  padding-bottom: 1em;
}
.marged{
  margin-top: 2em;
  margin-bottom: 2em;
}
.marged-xs{
  margin-top: 5px;
  margin-bottom: 5px;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

// .wrapper-light-green {
//   background-color: #FCED25;
//   box-shadow: 1px 1px #FCED25;
//   border-color: #FCED25;
// }

.wrapper-black {
  background-color: #070707;
  color: white;
  text-align: center;
}
body{
  margin-top: 70px;
}

.photo_circle {
  width: 150px;
  height: 200px;
  border-radius: 2%;
}

.avatar-large {
  width: 50px;
  border-radius: 50%;
}


.presentation_size {
  color: #7D7D7D;
  font-family: Montserrat;
  font-weight: 300;
  font-size: 18px;
}

.titre_rouge {
  color: #D55;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: 22px;
}

.dashboard_photo {

  height: 250px;
  border-radius: 2%;

}

.wrapper{
    background-color: #E6E6E6

}

.wrapper-petting {
  background-color: #CCC

}

.wrapper-booking {
background-color: #9D9D9D
}


.text_left {}
a {
  color: orange
}
