/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}
.padded-big{
  padding-top: 10em;
  padding-bottom: 10em;
}

.padded-small {
  padding-top: 2em;
  padding-bottom: 2em;
}

.padded-xsmall {
  padding-top: 1em;
  padding-bottom: 1em;
}
.padded-down{
  padding-bottom: 1em;
}
.marged{
  margin-top: 2em;
  margin-bottom: 2em;
}
.marged-xs{
  margin: 5px;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.wrapper-light-green {
  background-color: $light-green;
  box-shadow: 1px 1px 3px #F0F0F0;
  border-color: #D1DDBC;
}

.wrapper-black {
  background-color: #070707;
  color: white;
  text-align: center;
}

